* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f8fc;
  color: #141c2c;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 200vh;
}

.card {
  background-color: white;
  padding: 0;
  height: 80%;
  width: 70%;
  display: flex;
  margin: 0;
  box-shadow: 0 2px 3px 2px rgb(126, 117, 117);
}

.login-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 2px solid grey;
  padding: 50px;
  width: 100%;
}

.google-login-btn {
  width: 100%;
  display: flex;
  border: 1px solid rgba(124, 124, 124, 0.301);
  color: rgb(46, 47, 49);
  font-size: large;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.google-login-btn img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.login-section small {
  align-self: center;
  margin: 20px 0 15px 0;
  color: rgba(19, 19, 19, 0.7);
}

.email-txt {
  font-weight: bolder;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.password-txt {
  font-weight: bolder;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.login-section input {
  width: 100%;
  padding: 5px 30px 5px 10px !important;
  border: 1px solid rgba(124, 124, 124, 0.301);
  border-radius: 3px;
}

.forgot-password-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
}

.remember-me {
  display: flex;
  align-content: center;
  justify-content: start;
  align-items: center;
}

.checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid grey;
  margin: 10px 10px 10px -5px;
}

.remember-me h4 {
  font-size: 15px;
  font-weight: 100;
  color: rgb(80, 78, 78);
}

.forgot-password-section h6 {
  justify-self: end;
  align-self: center;
  font-size: 15px;
  font-weight: 900;
  color: rgb(73, 73, 155);
}

.login-btn {
  width: 70%;
  color: white;
  background-color: rgb(23, 23, 48);
  border-radius: 5px;
  padding: 2%;
  border: 0;
  justify-self: center;
  align-self: center;
}

.login-btn:hover {
  background-color: rgba(23, 23, 48, 0.7);
}

.signup-link {
  align-self: center;
  margin-top: 50px;
  font-size: 15px;
}

.signup-link a {
  border: 0;
}
.divider {
  height: 100px;
  align-self: center;
  width: 25px;
  color: black;
}

.details-section {
  flex: 1;
}
